body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f39c12, #8e44ad);
    margin: 0;
    height: 100vh;
    color: #fff;
}

h1 {
    font-size: 2.5rem;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 20px;
}

.search-container {
    background-color: #ffffff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn {
    border-radius: 8px;
}

#weatherContainer {
    background-color: #ffffff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
